.mat-card {
  max-width: 650px;
  margin: auto;

  .spacer {
    flex: 1;
  }
}

.mat-list {
  .mat-list-item {
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.2s cubic-bezier(0.77, 0, 0.175, 1);

    &:hover {
      background: rgba(255, 255, 255, 0.13);
    }

    &:last-of-type {
      .mat-list-item-content {
        margin-bottom: 16px;
      }
    }
  }
}
